## Ignore all by default
*

## Allow workspace config
!.github/
!.config/
!.vscode/
# Git
!.gitignore
# IDE
!.windsurfrules
!.editorconfig
# Lefthook
!.lefthook.yml
# Linters
!.config/.markdownlint-cli2.jsonc
# Mise
!mise.toml
!tasks.*.toml
# Rust
!rust-toolchain.toml

## Allow rust
!Cargo.toml
!Cargo.lock
!*.rs

## Allow documentation
!docs/
!docs/**/
!*.md

!licenses/
!licenses/*.txt

!LICENSE

## Allow source code
!src/
!src/lib
!src/cli