## Ignore all by default
*

## Allow config
!.github/
!.vscode/
!.gitignore
!.windsurfrules
!.editorconfig
!.lefthook.yml

## Allow package management
!mise.toml

## Allow rust
!Cargo.toml
!Cargo.lock
!*.rs

## Allow documentation
!docs/
!docs/**/
!*.md

!licenses/
!licenses/*.txt

!LICENSE

## Allow source code
!src/
!src/lib
!src/cli