## Ignore all by default
*

## Allow workspace config
!.github/
!.config/
!.vscode/
# Git
!.gitignore
# IDE
!.windsurfrules
!.editorconfig
# Lefthook
!.lefthook.yml
# Linters
!.config/.cspell.json
!.config/.clippy.toml
!.config/.rustfmt.toml
!.config/.markdownlint-cli2.jsonc
!.prettierignore
!commitlint.config.ts
!eslint.config.ts
# Mise
!mise.toml
!tasks.*.toml
# Rust
!rust-toolchain.toml
# Bun
!bun.lock
!package.json
!tsconfig.json
!eslint.config.ts

## Allow rust
!Cargo.toml
!Cargo.lock
!*.rs

## Allow documentation
!docs/
!docs/**/
!*.md

!licenses/
!licenses/*.txt

!LICENSE

## Allow source code
!src/
!src/lib/
!src/cli/
# Source code
!src/*/src/
!src/*/src/**/
# Integration tests
!src/*/tests/
# Test data
!src/**/testdata
